.mother{
  padding-left: 45px;
  padding-bottom: 30px;
  padding-top: 20px;
  box-shadow: 2px 2px 2px 2px #888888;
  background-color: white;
}

.main{
  background: url('./img/floral_background.jpg') no-repeat center;
  margin: auto;
  width: 20%;
  background-size: cover;
  height: 40%;
  /* background-color: black; */
  /* border-style: solid; */
  padding: 10px;

  /* width: 20%;
  height: 40%; */
}

h2{
  font-family: 'Abhaya_Libre';
}

label{
  font-size: 12px;
  font-weight: 600;
  font-family: 'Montserrat';
  
}

input::placeholder{
  font-size: 8px;
}

input{
  margin-bottom: 15px;
  width: 180px;
}

body{
  padding-top: 100px;
}

a{
  text-align: right;
  font-size: 10px;
  margin-left: 85px;
}

.login{
  background-color:  black;
  color: white;
  font-family: 'Montserrat';
  width: 190px;
  font-size: 10px;
  height: 30px;
  margin-top: 20px;
  font-weight: 700;
  border-style: none;
  border-radius: 3px;

}

.or{
  margin-left: 100px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
}

.google, .facebook{
  font-size: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  border-radius: 3px;
  border-style: none;
  padding: 10px
  ;
}

img{
  margin-right: 10px;
}
.google, .check{
  margin-left: 30px;
  
}

.check{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 11px;
  margin-top: 30px;

}

.create{
  width: 190px;
  background-color: #E5E5E5;
  color: black;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 9px;
  border-style: none;
  height: 30px;
  border-radius: 3px;

}

img{
  width: 8px;
  height: 8px;
}







